appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
black==20.8b1
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==7.1.2
coverage==5.3
dataclasses-json==0.5.2
idna==3.3
iniconfig==1.1.1
isort==5.6.4
lazy-object-proxy==1.4.3
loguru==0.5.3
marshmallow==3.9.1
marshmallow-enum==1.5.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.4
pathspec==0.8.1
pluggy==0.13.1
py==1.9.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
regex==2020.11.13
requests==2.28.0
selenium==3.141.0
six==1.15.0
stringcase==1.2.0
toml==0.10.2
typed-ast==1.5.5
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
wrapt==1.12.1
